header{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  }
header img{
  margin-left: 20px;
}
header >a{
  margin-right: 20px;
}
header nav{
  display: flex;
  flex-basis: 100%;
}
header nav ul{
  display: flex;
  flex-direction:row;
}
header nav ul li{
  flex-basis: 50%;
  text-align: center;  
}
header nav ul li a {
  color: #0065FC;
}
header > a {
  color:blue;
}
header nav {
display: flex;
flex-wrap: wrap;
margin-bottom: 5%;
}
header nav ul li{
  margin-right: 20px;
 }
 header ul{
  display: flex;
  align-items: center;
 }
 header nav{
   display:flex;
   justify-content: center;
 }